# Предсказываем стоимость мед страховки

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

## Загужаем необходимые библиотеки

In [ ]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

## Загружаем данные

Собраны данные:
- age: возраст
- sex: пол
- bmi: индекс массы тела
- children: количество детей, охваченных медицинским страхованием / количество иждивенцев
- smoker: курение
- region: регион (northeast, southeast, southwest, northwest).
- charges: индивидуальные медицинские расходы (его и хотим предсказать)

In [ ]:
# Загрузите данные из файла insurance.csv в переменную df
df = pd.read_csv('insurance.csv')

In [ ]:
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

## Смотрим статистику, что нет пропусков и отсуствующих значений

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [ ]:
df.describe()

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

## Преобразуем строковые данные

In [ ]:
# Заменяем пол и курение на числа
df['sex']=df['sex'].map({'male':1, 'female':0})
df['smoker']=df['smoker'].map({'yes':1,'no':0})

In [ ]:
df.head()

   age  sex     bmi  children  smoker     region      charges
0   19    0  27.900         0       1  southwest  16884.92400
1   18    1  33.770         1       0  southeast   1725.55230
2   28    1  33.000         3       0  southeast   4449.46200
3   33    1  22.705         0       0  northwest  21984.47061
4   32    1  28.880         0       0  northwest   3866.85520

In [ ]:
# Заменяем регион на набор отдельных колонок (is_southwest, is_southeast и тп)
df = pd.get_dummies(df, columns=['region'])
df.head()

   age  sex     bmi  ...  region_northwest  region_southeast  region_southwest
0   19    0  27.900  ...                 0                 0                 1
1   18    1  33.770  ...                 0                 1                 0
2   28    1  33.000  ...                 0                 1                 0
3   33    1  22.705  ...                 1                 0                 0
4   32    1  28.880  ...                 1                 0                 0

[5 rows x 10 columns]

## Формируем признаки и целевую переменную

In [ ]:
## Сформируйте признаки и целевую переменную

In [ ]:
X = df[['age',	'sex',	'bmi',	'children',	'smoker',	'region_northeast', 'region_northwest',	'region_southeast',	'region_southwest']]
y = df['charges']

In [ ]:
X

      age  sex     bmi  ...  region_northwest  region_southeast  region_southwest
0      19    0  27.900  ...                 0                 0                 1
1      18    1  33.770  ...                 0                 1                 0
2      28    1  33.000  ...                 0                 1                 0
3      33    1  22.705  ...                 1                 0                 0
4      32    1  28.880  ...                 1                 0                 0
...   ...  ...     ...  ...               ...               ...               ...
1333   50    1  30.970  ...                 1                 0                 0
1334   18    0  31.920  ...                 0                 0                 0
1335   18    0  36.850  ...                 0                 1                 0
1336   21    0  25.800  ...                 0                 0                 1
1337   61    0  29.070  ...                 1                 0                 0

[1338 rows x 9 columns]

In [ ]:
y

0       16884.92400
1        1725.55230
2        4449.46200
3       21984.47061
4        3866.85520
           ...
1333    10600.54830
1334     2205.98080
1335     1629.83350
1336     2007.94500
1337    29141.36030
Name: charges, Length: 1338, dtype: float64

## Разделяем данные на выборку для обучения/проверки

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

## Создаем и обучаем модель линейной регресии

In [ ]:
# Создайте и обучите модель

lr = LinearRegression() 
lr.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

## Получаем предсказание и оцениваем качество

In [ ]:
# Получите предсказание

lr.coef_

array([  258.14709548,   -36.44901107,   356.95652853,   370.4462921 ,
       24141.79291538,   565.7955346 ,   161.31018894,  -564.48753426,
        -162.61818928])

In [ ]:
# Оцените качество, при помощи метода mean_squared_error для тестовой выборки

In [ ]:
lr.predict(X_test)

array([ 4.67871804e+03,  3.07990527e+04,  9.42722712e+03,  9.82305051e+03,
        1.57402032e+04,  7.10290758e+03,  2.60192484e+03,  1.51513020e+04,
        1.21854318e+04,  1.08162544e+04,  1.16616372e+04,  1.39592355e+04,
        1.37359756e+04,  1.35635450e+03,  1.16538607e+04,  1.12937978e+04,
        1.00853970e+04,  3.45102954e+04,  2.88450214e+04,  8.90041975e+03,
        3.35835290e+04, -2.01559192e+03,  1.20317900e+04,  3.82755964e+03,
        8.30841133e+03,  2.74539065e+04,  3.26642506e+03,  6.44134455e+03,
        8.46796110e+03,  4.08632782e+03,  1.24786606e+04,  8.57222064e+03,
        2.76938208e+04,  1.27976483e+04,  3.31370648e+04,  4.24502537e+03,
       -7.52039896e+02,  1.07328214e+04,  1.14898297e+04,  1.39632151e+04,
        1.07271262e+04,  1.03692425e+04,  4.65275030e+03,  1.27114692e+04,
        2.72343309e+04,  9.71571613e+03,  1.24439411e+04,  7.15186894e+03,
        9.98706924e+03,  4.63486134e+03,  2.99677710e+02,  3.37445166e+03,
        1.05017188e+04, -1.15964961e+03,  1.32430257e+04,  7.83540955e+03,
        3.18805277e+04,  3.89766956e+04,  9.47121365e+03,  5.28099379e+03,
        3.84735646e+03,  4.11505010e+03,  4.41003928e+02,  1.75713357e+04,
        1.15995908e+04,  7.05884586e+03,  4.31458509e+03,  6.73874792e+03,
        1.52701908e+04,  2.64365804e+04,  3.06399066e+04,  3.58209692e+04,
        3.13444778e+04,  2.62017425e+04,  3.22395370e+04,  3.40547352e+04,
        3.00668485e+04,  9.89458126e+03,  5.85452715e+03,  3.13711837e+04,
        1.34867690e+04,  2.84910668e+04,  1.50440211e+04,  2.51148565e+03,
        1.71706527e+04,  4.42321852e+03,  5.68953913e+03,  8.94301464e+03,
        1.27771789e+04,  2.83736144e+03,  3.50265539e+04,  5.28346010e+03,
        6.48829212e+03,  1.52709053e+04,  8.29015069e+03,  1.15251270e+03,
        1.38988880e+03,  6.87808513e+03,  1.77984722e+04,  3.55106975e+04,
        4.79072936e+03,  2.43574156e+04,  8.35471381e+03,  8.26829704e+03,
        8.93243995e+03,  3.28093932e+04,  3.90594797e+03,  9.42434940e+03,
        7.49241820e+03,  1.81788471e+04,  3.16838814e+03,  1.15656799e+04,
        7.01816235e+03,  3.64591163e+04,  3.39709296e+03,  2.88817362e+04,
        1.00295399e+04,  1.25278733e+04,  1.22354180e+04,  3.32606148e+04,
        2.87109961e+04,  1.50045474e+04,  1.52356017e+04,  8.67693416e+03,
        3.14477473e+03,  5.26241791e+03,  1.22651244e+04,  5.98250436e+03,
        7.98074014e+03,  1.03945072e+04,  6.46835702e+03,  6.77188523e+03,
        3.68509806e+03,  1.51352060e+04,  2.51870291e+04,  6.70229891e+03,
        4.81394546e+03,  3.21345582e+04,  3.72029549e+04,  5.21614508e+03,
        3.12269931e+04,  1.30594833e+04,  3.61470304e+03,  1.67477213e+04,
        8.46396537e+03,  5.18100544e+03,  1.33281039e+04,  5.18457440e+03,
        1.17319500e+03,  1.43191152e+04,  2.75299816e+04,  1.46090507e+04,
        3.76635048e+03,  1.07396105e+03,  7.02672439e+03,  4.54648374e+03,
        3.77538137e+03,  1.06618877e+04,  7.09951528e+03,  1.65458628e+04,
        1.39253641e+04,  9.95269491e+03,  1.82875158e+04,  1.14151828e+04,
        1.02561676e+04,  1.14710881e+04,  1.16085313e+04,  5.63470287e+03,
        6.55902429e+03,  1.14164062e+04,  3.73152075e+04,  1.46811173e+04,
        3.16597173e+04,  1.14228581e+04,  7.62507267e+03,  5.27259703e+03,
        1.65103452e+04,  1.27621130e+04, -3.16349485e+02,  6.66779877e+03,
        2.39137357e+03,  1.21094290e+04,  1.02767115e+04,  1.51352618e+04,
        3.73779178e+04,  7.27595279e+03,  6.22800194e+03,  2.73285367e+04,
        5.05592854e+03,  5.56582225e+03,  7.71668957e+03,  1.02011887e+04,
        1.40410452e+04,  4.60072670e+03,  3.35874206e+04,  1.52262177e+04,
        1.15704546e+04,  8.57466574e+03,  5.76006785e+03,  1.82708138e+04,
        1.69871846e+04,  1.30340166e+04,  1.10966175e+04,  8.67163427e+03,
        1.02415890e+04,  6.94143958e+03,  4.07155781e+04,  5.01019528e+03,
        6.64346526e+03,  7.79638726e+03,  2.77331753e+03,  1.10684955e+04,
        3.17690171e+03,  1.11832749e+04, -1.60830834e+03, -1.01611364e+03,
        1.25607702e+04,  1.27219531e+04,  2.82662064e+04,  6.83070600e+03,
        3.12375597e+04,  5.87625378e+03,  3.35672589e+04,  1.43013147e+04,
        3.39551250e+04,  6.64947032e+03,  9.37967106e+03,  1.07845069e+04,
        5.76845460e+03,  1.19586574e+04,  1.31443620e+04,  3.37689163e+04,
        6.54561530e+03,  4.59559612e+03,  8.03486417e+03,  1.11421830e+04,
        3.77502228e+03,  5.56676757e+03,  1.21145242e+04,  1.46324016e+04,
        8.59518063e+03,  3.73215802e+04,  6.78665715e+03,  1.60979060e+04,
        1.10514524e+04,  1.17622979e+04,  1.49941640e+04,  8.13129063e+03,
        3.14210841e+03,  3.89926279e+04,  1.47201747e+04,  3.59103173e+03,
        1.02880843e+04,  3.87669541e+04,  3.01902021e+04,  7.14490046e+03,
        2.16115260e+03,  9.14560666e+03,  1.05787681e+04,  1.21953805e+04,
        2.77717084e+03,  8.64007214e+03,  1.21882742e+04,  1.10148958e+04,
        3.38681687e+04, -1.11516529e+01,  1.27102053e+04,  1.49489226e+04])

In [ ]:
mean_squared_error(y_test, lr.predict(X_test)) #на тестовой выборке

42023926.00916992

In [ ]:
mean_squared_error(y_train, lr.predict(X_train)) #на обучающей выборке

35189933.37645373

## Делаем предсказание для одного человека

In [ ]:
# Заполняем данные по конкретному человеку
data = [{
    "age": 20,
    "sex": 1,
    "bmi": 30,
    "children": 2,
    "smoker": 1,
    "region_northeast": 0,
    "region_northwest": 0,
    "region_southeast": 1,
    "region_southwest": 0
}]

In [ ]:
df_person = pd.DataFrame(data)
df_person.head()

   age  sex  bmi  ...  region_northwest  region_southeast  region_southwest
0   20    1   30  ...                 0                 1                 0

[1 rows x 9 columns]

In [ ]:
lr.predict(df_person)

array([27041.79196478])